<div class="flex-container">
  <div class="form-container"> 
    <h2 class="text-title">Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-label">
        <%= f.label :email, class:"text-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control input-form" %>
      </div>

      <div class="form-label">
        <%= f.label :password, class:"text-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control input-form"  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-label">
          <%= f.check_box :remember_me, class:"text-label" %>
          <%= f.label :remember_me, class:"form-check-label" %>
        </div>
      <% end %>

      <div class="devise-action-button">
        <%= f.submit "Ingresar a tu cuenta", class:"btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
