<h1> Showing resource <%= @service.id %> </h1>
<h2> This resource belongs to <%=@service.learning_unit_name %> </h2>
<h2> This resource was created by <%= @service.created_by %> </h2>

<hr>

<%= render partial: 'comments', locals: {comments: @service.comments} %>

<hr>

<%= render partial: 'average', locals: {average: @service.average} %>

<%= render partial: 'new_comment', locals: {resource_id: @service.id} %>
